@font-face {
    font-family: 'RisingSun';
    src: url('/fonts/RisingSun/RisingSun-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode/variable_ttf/FiraCode-VF.ttf') format('ttf'),
         url('/fonts/FiraCode/woff/FiraCode-VF.woff') format('woff'),
         url('/fonts/FiraCode/woff2/FiraCode-VF.woff2') format('woff2');
}
@font-face {
    font-family: 'Remind Sans Bold';
    src: url('/fonts/RemindSans/RemindSans-Bold.ttf') format('ttf');
}

:root {
    --main-font-family: 'RisingSun', sans-serif;

    /* Flex gaps */
    --post-list-gap: 16pt;
    --header-flex-gap: 8pt;
    --post-preview-gap: 8pt;
    --page-nav-gap: 12pt;
    --article-body-gap: 12pt;

    /* Paddings */
    --post-preview-padding: 8pt;

    /* Colors */
    --clr-bg-main: #fdfdfd;
    --clr-fg-main: #202530;
    --clr-accent-main: red;

    /* Syntax highlighing colors */
    --clr-code-block-bg: #202530; /* Code block background */
    --clr-code-block-fg: #cbccc6; /* Code block foreground */
    --clr-syn-kwd: #f28779; /* Keyword color */
    --clr-syn-num: #ffd580; /* Number color */
    --clr-syn-str: #bae67e; /* String color */
    --clr-syn-ide: #ffffff;   /* Identifier color */
}

*:not(head) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
}
/* Main page elements */
body {
    scroll-behavior: smooth;
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-main);
    display: flex;
    flex-direction: column;
    gap: 16pt;
    font-family: var(--main-font-family);
}
img {
    height: 100%;
    max-height: 100vh;
    max-width: 100%;
    border-radius: 0.3rem;
    margin: 0 auto;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(90deg, #00000000,black, black, #00000000);
    background-position: 0 100%;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    max-width: fit-content;
    min-width: fit-content;
}
a:hover, .active-page {
    background-image: linear-gradient(90deg, #ff000000, var(--clr-accent-main), #ff000000);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Remind Sans Bold', sans-serif;
    font-weight: bold;
    max-width: fit-content;
}
h1 {font-size: 1.60em;}
h2 {font-size: 1.30em;}
h3 {font-size: 1.15em;}
h4 {font-size: 1.08em;}
h5 {font-size: 1.04em;}
h6 {font-size: 1.02em;}
/* Page header */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--header-flex-gap);
    gap: var(--header-flex-gap);
    font-size: 18pt;
}
nav {
    display: flex;
    flex-direction: row;
    gap: var(--header-flex-gap);
    flex-wrap: wrap;
    justify-content: center;
}
.nav-link, .nav-link:hover {
    background: none;
    text-align: center;
}
.nav-link::after {
    content: ' \276F';
}
.nav-link::before {
    content: '\276E  ';
}
.nav-link:hover::after {
    color: var(--clr-accent-main);
}
.nav-link:hover::before {
    color: var(--clr-accent-main);
}
/* Posts list */
.post-list {
    display: flex;
    flex: 1 1 100%;
    gap: var(--post-list-gap);
    flex-direction: column;
    align-items: center;
}
.post-list > * {
    width: min(70ch, 90vw);
}
/* Post previews inside of post list */
.post-preview {
    display: flex;
    flex-direction: column;
    gap: var(--post-preview-gap);
    align-items: center;
    padding: var(--post-preview-padding);
    box-shadow: 0 0 8pt #32323232;
    border: 1px solid #323232;
    border-radius: 3pt;
}
.post-preview p {
    height: fit-content;
}
.post-img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: cover;
}

/* Page naviagation */
.page-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: var(--page-nav-gap);
    padding: var(--page-nav-gap);
}
.active-page {
    color: var(--clr-accent-main);
}
.page-link#next, .page-link#next:hover, .page-link#prev, .page-link#prev:hover {
    background: none;
}
.page-link#prev::before {
    content: "\276E  ";
}
.page-link#next::after {
    content: " \276F";
}
.page-link#prev:hover::before, .page-link#next:hover::after {
    color: var(--clr-accent-main)
}
/* Post view */
article {
    width: min(75ch, 90vw);
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 100%;
    gap: var(--article-body-gap);
}
article > * {
    width: 100%;
}
p {
    display: inline-block;
}
pre {
    padding: 6pt 12pt;
    border-radius: 3pt;
    background-color: var(--clr-code-block-bg);
    color: var(--clr-code-block-fg);
    box-shadow: 1pt 1pt 2pt #32323232;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--clr-syn-kwd) var(--clr-code-block-bg);
}
code {
    font-family: 'Fira Code', monospace;
    display: inline-block;
    width: fit-content;
    color: inherit;
    border-radius: 2pt;
    box-shadow: 0 0 2pt var(--clr-fg-main);
    padding: 0 2pt;
}
pre > code {box-shadow: none;}
span {
    display: inline;
}
/* Code block syntax highlighting colors */
span.kwd {color: var(--clr-syn-kwd);}
span.num {color: var(--clr-syn-num);}
span.str {color: var(--clr-syn-str);}
span.ide {color: var(--clr-syn-ide);}
/* Block quotes */
blockquote {
    border-left: 3px solid var(--clr-fg-main);
    padding: 6pt 12pt;
}
/* Lists */
ol, ul, li {
    display: block;
}
li::before {
    content: '\276F  ';
}
li > *:not(:nth-child(2)) {
    padding: 0 2ch;
}
