@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2"),
       url("/fonts/inter/Inter-Regular.woff") format("woff"),
       url("/fonts/inter/Inter-Regular.otf") format("opentype");
}

:root {
  --optimal-reading-width: 80ch;
  --optimal-full-width: calc(100vw - 4ch);
  
  --clr-bg: #ffffff;
  --clr-fg: #404040;
  --clr-lnk: #0d1b31;
  --clr-lnk-hov: #cf222e;
  --clr-bg-quote: #dddddd;
  --clr-brd-quote: #24292f;
}
@media (prefers-color-scheme: dark) {
  /* Dark theme colors */
  :root {
    --clr-bg: #272727;
    --clr-fg: #aaaaaa;
    --clr-lnk: #3967ac;
    --clr-lnk-hov: #e72532;
    --clr-bg-quote: #323232;
    --clr-brd-quote: #aaaaaa;
  }
}
/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 110%;
  font-family: 'Inter', sans-serif;
  line-height: 1;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}
pre, code {font-size: 110%;}
body {
  display: grid;
  grid-template-areas: "A" "B" "C";
  grid-template-rows: min-content auto min-content;
  row-gap: 1em;
  min-height: 100vh;
}
header {grid-area: A;}
main {grid-area: B;}
footer {grid-area: C;}

header {
  padding: 0.5em 16pt;
  font-size: 4vh;
  border-bottom: 1px dashed var(--clr-fg);
}
footer {
  display: grid;
  padding: 0.5em 16pt;
  border-top: 1px dashed var(--clr-fg);
  justify-items: center;
}
header > nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1ch;
}
article {
  width: var(--optimal-reading-width);
  max-width: var(--optimal-full-width);
  margin: 0 auto;
}
blockquote {
  background-color: var(--clr-bg-quote);
  padding: 0.5rem 3ch;
  border-left: 4px solid var(--clr-brd-quote);
  border-radius: 0 0 3em 0;
}
a {color: inherit}
a:hover, .active-page {text-shadow: 0 0 2px var(--clr-lnk-hov)}
p > a {color: var(--clr-lnk)}
p {
  line-height: 1.25;
  width: 100%;
}
h1, h2, h3, h4, h5, h6, p {margin: 0.8rem 0;}
h1, h2, h3, h4, h5, h6 {text-align: center;}
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}
img {
  box-shadow: 1px 1px 4pt #32323227;
  border-radius: 6pt;
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
}

ul {
  margin-left: 2ch;
  list-style: none;
}
ul > li::before {content: '\26B9';}
li.chk::before {
  content: '\2713';
}
li.unchk::before {
  content: '';
}
li.unchk::before, li.chk::before {
  border: 1px solid var(--clr-fg);
  display: inline-block;
  aspect-ratio: 1/1;
  height: 1em;
  border-radius: 0.2em;
  box-sizing: border-box;
}
form {
  margin: 0.5em auto;
  max-width: fit-content;
}
input, button {
  padding: 0 1ch;
  line-height: 1.5;
  border-radius: 0.5em;
  border: 1px solid var(--clr-fg);
  background-color: var(--clr-bg);
  color: var(--clr-fg)
}
button {
  margin-left: 2ch;
}
.post-list {
  display: grid;
  row-gap: 0.5em;
  justify-items: center;
}
.post-preview {
  width: var(--optimal-reading-width);
  max-width: var(--optimal-full-width);
  padding: 1em 2ch;
  border: 1px solid var(--clr-fg);
  box-shadow: 2pt 2pt 6pt #32323232;
  background: linear-gradient(270deg, var(--clr-bg),#ffffff00 75%);
  text-shadow: 0 0 2px var(--clr-bg);
  
  display: grid;
  grid-template-areas: "A A" "C C" "D D";
  grid-template-columns: auto 33%;
  justify-items: center;
  gap: 1em;
  border-radius: 6pt;
}
.post-preview > img {
  grid-area: B;
  width: 100%;
  object-fit: cover;
}
.post-preview > a {grid-area: A;}
.post-preview > p {grid-area: C;}
.post-preview > .tags-container {grid-area: D;}

.page-nav {
  margin: 1em auto;
  font-size: 1.2rem;
  max-width: fit-content;
}
.page-nav > * {
  margin: 0 0.5ch;
}
